
@{
    ViewData["Title"] = "Common_methods_View";
}

<h1 style="background-color:mediumaquamarine; text-align:center" ;>Remote Blockchain Sync</h1>


<h4 style="background-color:white; text-align:center" ;>@ViewData["Message"]</h4>
