@model BdCoin.Models.Blockchain

@{
    ViewData["Title"] = "Mine_View";
}

<h2 style="background-color:mediumaquamarine; text-align:center" ;>Mining</h2>


@*<h3 style="background-color:white; text-align:center" ;>@ViewData["Index"]</h3>*@
<h3 style="background-color:white; text-align:center" ;>@ViewData["Message"]</h3>

